body {
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}

.bg-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 2s;
    opacity: 0;
}

.bg-container.active {
    opacity: 1;
}

.bg-container-1 {
    background-image: url(sun.jpg);
}

.bg-container-2 {
    background-image: url(cloud.jpg);
}