.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    margin: 0px;
}
.video-container {
        position: absolute;
        left: 0;
        top: 0;
        left: 0;
        width:100%;height:100%;
    }



.button_cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    position: relative;
    text-align: center;
    width: 250px;
    padding: 40px;
    font-size: 35px;
    color: #15f4ee;
    font-family: hyperion;
    font-weight: 400;
    border: 5px solid #15f4ee;
    text-transform: uppercase;
    letter-spacing: 15px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
}

    .button:hover {
        box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee, 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
        text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
    }