@media screen and (min-height: 680px){
    .facts{
        line-height: 70px !important;
    }
}
@media screen and (min-height: 900px){
    .facts{
        line-height: 80px !important;
        font-size: 50px !important;
    }
    .dialogtxttwo{
        font-size: 35px !important;
    }
    .dialogtxt{
        font-size: 35px !important;
    }
    .dialogtxtthre{
        font-size: 35px !important;
    }
}
@media screen and (min-height: 1000px){
    .facts{
        line-height: 100px !important;
        font-size: 50px !important;
    }
    .dialogtxttwo{
        font-size: 40px !important;
        line-height: 1.5 !important;
    }
    .dialogtxt{
        font-size: 40px !important;
        line-height: 1.5 !important;
    }
    .dialogtxtthre{
        font-size: 40px !important;
        line-height: 1.5 !important;
    }
}
::-webkit-scrollbar {
    display: none;
  }
body {
    background-image: url('spacemonke.gif');
    background-position: center;
    background-size: cover;
    position: relative;
    max-width: 100vw;
    min-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
}
#planet {
    max-height: 60vh;
    min-height: 60vh;
    animation: fadein 2s;
    padding-top: 15px;
}
#planet img {
    max-height: 60vh;
    min-height: 60vh;
}
.magic{
    max-width: 120px;
    min-width: 120px;
    float: right;
    opacity: 0;
}
.magictwo{
    max-width: 120px;
    min-width: 120px;
    float: left;
    opacity: 0;
}
#spagettimonster{
    max-height: 40px;
    min-height: 40px;
    min-width: 120px;
    max-width: 120px;
}
#imagesdilog {
    display: block;
	width: 40px;
	height: 40px;
    margin: 0 auto;
	box-sizing: border-box;
	border: 2px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 2px 12px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 4s ease-in-out infinite;
}
#txtone {
    animation: float 4s ease-in-out infinite;
    background-color: white;
    border-radius: 5px;
    color: black;
    line-height: 20px;
}
#txttwo{
    animation: float 4s ease-in-out infinite;
    background-color: white;
    border-radius: 5px;
    color: black;
}
.dialogtxt{
    font-size: 25px;
    font-style: italic;
    opacity: 0;
    background-color: rgba(133, 119, 119, 0.8);
    padding: 2px;
    margin-left: 150px;
    border-radius: 20px;
    /*line-height: 30px;*/
}
.dialogtxttwo{
    font-size: 25px;
    font-style: italic;
    opacity: 0;
    background-color: rgba(133, 119, 119, 0.8);
    padding: 2px;
    margin-right: 150px;
    border-radius: 20px;
    /*line-height: 30px;*/
}
.dialogtxtthre{
    font-size: 25px;
    font-style: italic;
    opacity: 0;
    background-color: rgba(133, 119, 119, 0.8);
    padding: 2px;
    border-radius: 20px;
    /*line-height: 30px;*/
}
.facts{
    font-size: 38px;
    font-style: italic;
    opacity: 0;
    max-height: 34vh !important;
    min-height: 34vh !important;
    max-width: 100vw !important;
    background-color: rgba(133, 119, 119, 0.8);
    padding: 2px;
    border-radius: 20px;
    /*line-height: 45px;*/
}
.factscontainer{
    padding: 10px;
    max-height: 34vh;
    min-height: 34vh;
}
.active{
    animation: fadein 2s;
    opacity: 1;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    min-height: 100vh;
}
@keyframes float {
	0% {
		box-shadow: 0 2px 12px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 22px 12px 0px rgba(0,0,0,0.2);
		transform: translatey(-15px);
	}
	100% {
		box-shadow: 0 2px 12px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}