body {
    min-height: 50%;
    min-width: 50%;
    overflow: hidden;
    background-color: #000000;
    Background-image: url(hipitihopiti2.jpg);
    background-size: cover;
}

html body {
    min-width: 100vw;
    min-height: 100vh;
}
