body {
    min-height: 50%;
    min-width: 50%;
    overflow: hidden;
    background-color: #000000;
    Background-image: url(hipitihopiti2.jpg);
    background-size: cover;
}

html body {
    min-width: 100vw;
    min-height: 100vh;
}

#pre {
    text-align: center;
    min-height: 12vh;
    min-width: 100vw;
    font-size: 25px;
}

.bg-container {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 80vh;
    min-width: 60vw;
    transition: 2s;
    opacity: 1;
}

.bg-container3 {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 80vh;
    min-width: 60vw;
    transition: 2s;
    opacity: 0;
}

.bg-container2 {
    position: fixed;
    top: 0;
    right: 0;
    min-height: 80%;
    min-width: 40%;
    transition: 2s;
    opacity: 0;
}

.bg-container-1 {
    background-image: url(jupiter.png);
    background-position: center;
    max-width: 60vw;
    min-height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-container-2 {
    background-position: center;
    min-width: 40vw;
    min-height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-container-3 {
    background-image: url(solarsystem.jpg);
    background-position: center;
    min-width: 60vw;
    min-height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
}

/*.bg-container-4 {
    background-color: #000000;
    user-select: none;
}*/


/*.bg-container4 {
    position: fixed;
    bottom: 0;
    right: 0;
    min-height: 20vh;
    min-width: 40vw;
    transition: 2s;
    opacity: 0;
}*/

.prestorytxt {
    position: fixed;
    bottom: 0;
    right: 0;
    min-height: 12vh;
    min-width: 100vw;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    opacity: 0;
    user-select: none;
}

.prestorytxt2 {
    position: fixed;
    bottom: 0;
    right: 0;
    min-height: 12vh;
    min-width: 100vw;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    opacity: 0;
    user-select: none;
}


.button_cont {
    position: fixed;
    top: 96%;
    left: 97%;
    transform: translate(-50%, -50%);
    transition: 2s;
    opacity: 0;
}

.button {
    position: relative;
    font-size: 35px;
    color: white;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.button:hover {
    text-shadow: 0 0 1px #ff0101, 0 0 1px #ff0000;
}

span {
    opacity: 0;
    transition: all 0.4s ease;
}

span.fade {
    opacity: 1;
}

span.away {
    opacity: 0;
}

.prestorytxt.postActive {
    opacity: 0;
}

.active {
    opacity: 1;
    animation: fadein 2s;
}

.notactive {
    opacity: 0;
}

#dialog {
    animation: floattext 4s ease-in-out infinite;
    font-size: 20px;
}

p {
    margin: 0;
    color: white;
}

#dialogtxt {
    animation: floattext 4s ease-in-out infinite;
    font-size: 40px;
    user-select: none;
}

#imgaa {
    position: relative;
    margin-top: 30px;
    margin-left: 145px;
    user-select: none;
}

#imga {
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
}



#dialog2 {
    animation: floattext 4s ease-in-out infinite;
    font-size: 20px;
    user-select: none;
}

p {
    margin: 0;
    color: white;
}

#dialogtxt2 {
    animation: floattext 4s ease-in-out infinite;
    font-size: 40px;
    user-select: none;
}

#spagaa {
    position: relative;
    margin-bottom: 300px;
    margin-left: 470px;
    user-select: none;
}

#spaga {
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    margin-left: 660px;
     user-select: none;
}

#imgaab {
    position: relative;
    margin-top: 30px;
    margin-left: 145px;
    float: right;
}

#imgab {
    margin-top: 80px;
    padding: 20px;
    box-sizing: border-box;
    float: right;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.imagesdilog {
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	border: 2px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 2px 12px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 4s ease-in-out infinite;
}

.imagesdilog2 {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 2px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 12px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 2px 12px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 22px 12px 0px rgba(0,0,0,0.2);
		transform: translatey(-15px);
	}
	100% {
		box-shadow: 0 2px 12px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes floattext {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}

.audio_cont {
    position: absolute;
    top: 5%;
    left: 97%;
    transform: translate(-50%, -50%);
}

.audio {
    position: relative;
    text-align: center;
    display: block;
    width: 50px;
    padding: 10px;
    font-size: 10px;
    color: #15f4ee;
    font-weight: 400;
    border: 2px solid #15f4ee;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    border-radius: 100px;
    font-family: 'Blanka', sans-serif;
    user-select: none;
}

    .audio:hover {
        box-shadow: 0 1px 10px 0 #15f4ee inset, 0 1px 10px 0 #15f4ee, 0 1px 10px 0 #15f4ee inset, 0 1px 10px 0 #15f4ee;
        text-shadow: 0 0 3px #15f4ee, 0 0 3px #15f4ee;
    }

